* {
    box-sizing: content-box;
}

@keyframes ldio-lmgtljw5ddf {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-lmgtljw5ddf div {
    left: 282px;
    top: 144px;
    position: absolute;
    animation: ldio-lmgtljw5ddf linear 1s infinite;
    background: #1d3f72;
    width: 36px;
    height: 72px;
    border-radius: 18px / 36px;
    transform-origin: 18px 156px;
  }.ldio-lmgtljw5ddf div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #1d3f72;
  }.ldio-lmgtljw5ddf div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #5699d2;
  }.ldio-lmgtljw5ddf div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #d8ebf9;
  }.ldio-lmgtljw5ddf div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #71c2cc;
  }.ldio-lmgtljw5ddf div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #4996a2;
  }.ldio-lmgtljw5ddf div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #785471;
  }.ldio-lmgtljw5ddf div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #e8cdc5;
  }.ldio-lmgtljw5ddf div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #eee7d8;
  }.ldio-lmgtljw5ddf div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #1d3f72;
  }.ldio-lmgtljw5ddf div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #5699d2;
  }.ldio-lmgtljw5ddf div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #d8ebf9;
  }.ldio-lmgtljw5ddf div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #71c2cc;
  }
  .loadingio-spinner-spinner-ygr4oqadkt {
    width: 100%;
    min-height: 750px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
  }
  .ldio-lmgtljw5ddf {
    width: 40%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
  }
  .ldio-lmgtljw5ddf div { box-sizing: content-box; }
